<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="Content-Security-Policy" content="default-src 'none'; script-src 'self' 'nonce-<%= nonce %>' https://cdnjs.cloudflare.com; style-src 'self' https://fonts.googleapis.com https://cdnjs.cloudflare.com 'unsafe-inline'; font-src 'self' https://fonts.gstatic.com; connect-src 'self' http://localhost:8000 https://example.com; img-src 'self' data:;">
    <title>Профиль</title>
    <link rel="stylesheet" href="/assets/css/style_common.css">
    <link rel="stylesheet" href="/assets/css/style_profile.css">
</head>
<body>
    <div class="wrapper">
        <%- include('partials/header') %>
        
        <div class="container">
            <main>
                <h3>Мой профиль</h3>
                <section class="profile-section">                    
                    <div id="profile-info">
                        <!-- Информация о пользователе будет загружена с помощью EJS -->
                        <p><strong>Фамилия:</strong> <span class="highlight"><%= user.last_name %></span></p>
                        <p><strong>Имя:</strong> <span class="highlight"><%= user.first_name %></span></p>
                        <p><strong>Email:</strong> <span class="highlight"><%= user.email %></span></p>
                        <p><strong>Номер телефона:</strong> <span class="highlight"><%= user.phone_num %></span></p>
                        <% if (user.user_type === 'employer') { %>
                            <p><strong>Компания:</strong> <span class="highlight"><%= companyName %></span></p>
                        <% } %>
                    </div>
                    <div class="profile-actions">
                        <button id="editProfileButton" class="edit-button">Редактировать</button>
                        <% if (user.user_type === 'candidate') { %>
                            <% if (!hasResume) { %>
                                <button id="editProfileButton" class="edit-button" data-action="create-resume">Создать резюме</button>
                            <% } else { %>
                                <button id="editProfileButton" class="edit-button" data-action="response-to-my-resumes">Отклики</button>
                                <button id="editProfileButton" class="edit-button" data-action="update-resume">Мое резюме</button>
                            <% } %>
                        <% } else if (user.user_type === 'employer') { %>
                                <button id="editProfileButton" class="edit-button" data-action="response-to-my-vacancies">Отклики</button>
                                <button id="editProfileButton" class="edit-button" data-action="create-vacancy">Создать вакансию</button>
                                <button id="editProfileButton" class="edit-button" data-action="my_vacancy-profile">Мои вакансии</button>
                        <% } %>
                        <button type="profile-button" id="logout-button">Выйти из аккаунта</button>
                    </div>
                    <div id="editProfileForm" style="display: none;">
                        <form id="profileForm">
                            <div class="editform">
                                <label for="editLastName">Фамилия:</label>
                                <input type="text" id="editLastName" name="lastName" value="<%= user.last_name %>"><br>
                                <label for="editFirstName">Имя:</label>
                                <input type="text" id="editFirstName" name="firstName" value="<%= user.first_name %>"><br>
                                <label for="editEmail">Email:</label>
                                <input type="email" id="editEmail" name="email" value="<%= user.email %>"><br>
                                <label for="editPhone">Номер телефона:</label>
                                <input type="tel" id="editPhone" name="phone" value="<%= user.phone_num %>"><br>
                                <!-- Скрытое поле для password_hash, user_type -->
                                <input type="hidden" id="userType" name="user_type" value="<%= user.user_type %>">
                                <input type="hidden" id="passwordHash" name="passwordHash" value="<%= user.password_hash %>">
                                <button type="button" id="saveProfileButton" class="save-button">Сохранить</button>
                                <button type="button" id="cancelEditButton" class="cancel-button">Отмена</button>
                            </div>
                        </form>
                    </div>
                </section>
            </main>
        </div>
    </div>

    <script src="/scripts/profileToAdd_cv.js" nonce="<%= nonce %>"></script>
    <script src="/scripts/profileToUpdate_cv.js" nonce="<%= nonce %>"></script>
    <script src="/scripts/profileLogout.js" nonce="<%= nonce %>"></script>

    <%- include('partials/footer') %>

    <script nonce="<%= nonce %>">
        const editProfileForm = document.getElementById('editProfileForm');
        const editProfileButton = document.getElementById('editProfileButton');
        const saveProfileButton = document.getElementById('saveProfileButton');
        const cancelEditButton = document.getElementById('cancelEditButton');
    
        editProfileButton.addEventListener('click', function() {
            editProfileForm.style.display = 'block';
        });
    
        saveProfileButton.addEventListener('click', function() {
            const formData = new FormData(document.getElementById('profileForm'));
            const userData = {
                last_name: formData.get('lastName'),
                first_name: formData.get('firstName'),
                email: formData.get('email'),
                phone_num: formData.get('phone'),
                password_hash: formData.get('passwordHash'),
                user_type: formData.get('user_type')
            };            

            fetch('/auth/profile', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json'
                },
                body: JSON.stringify(userData)
            })
            .then(response => response.json())
            .then(data => {
                if (data.success) {
                    alert('Профиль сохранен');
                    window.location.reload();
                    editProfileForm.style.display = 'none';
                } else {
                    alert('Ошибка при сохранении профиля: ' + data.message);
                }
            })
            .catch(error => {
                console.error('Ошибка:', error);
                alert('Ошибка при сохранении профиля');
            });
        });
    
        cancelEditButton.addEventListener('click', function() {
            editProfileForm.style.display = 'none';
        });
    </script>
</body>
</html>